<h2 mat-dialog-title>Confirmation de suppression</h2>
<mat-dialog-content>
Attention, cette action est irrémédiable
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onNoClick()" mat-button mat-dialog-close>Annuler</button>
  <button [mat-dialog-close]="true" mat-button mat-dialog-close cdkFocusInitial>Confirmer</button>
</mat-dialog-actions>
