.example-card {
  max-width: 400px;
  margin: 40px;
  background-color: #22b1bf;
  display: inline-block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img.mat-mdc-card-image.mdc-card__media{
  max-width: 400px;
}
